// $primary: #ff6f00;
$primary: #7cc242;
$secondary: #444;
$third: #8c8989;
$background: #f5f7fa;
$bg-2:  #000;
// $btn-hover: linear-gradient(135deg, #d75e02, #fc9207);
// $btn: linear-gradient(135deg, #ff6f00, #ff8f00);
$btn: linear-gradient(135deg, #4a8f2a, #7cc242);
$btn-hover:  linear-gradient(135deg, #5aa733, #92d65a);
$list:#ffffff;

$text-dark: RED;
$text-light: #fff;
$danger: red;
$sucess: green;


// @use "./variable.scss" as *;
